ul {
  list-style: none;
}

.container {
  font-size: 18px;
  font-family: Verdana, sans-serif;
  width: 500px;
  margin: auto;
}

.sub_header {
  padding: 20px 10px 50px;
}

.list_count {
  float: left;
}

.all_del {
  float: right;
}

.all_select {
  float: right;
  padding-right: 10px;
}

.main {
  clear: both;
}

.del_mark {
  font-size: 14px;
  color: rgb(0, 0, 200);
  cursor: pointer;
}

.checked {
  color: rgb(200, 200, 200);
  text-decoration: line-through;
}
